<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  
  <?define ProductVersion="3.5.28"?>
  <Product Id="8F522C57-4690-444B-A57A-C36D5EA65B9D" Name="Squid" Language="1033" Version="$(var.ProductVersion)" Manufacturer="ITarian LLC" UpgradeCode="103139C5-4C94-471D-94D6-D838BB7E6CB9">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Description="Installer for Squid from ITarian LLC" Comments="Version $(var.ProductVersion)"/>

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes"/>

    <Binary Id="InstallerCA" SourceFile="$(var.installer-ca.TargetDir)$(var.installer-ca.TargetName).CA.dll"/>

    <!-- Squid cmd shortcut -->
    <Property Id="CMD_PATH">
      <DirectorySearch Path="[WindowsFolder]System32" Depth="0" Id="WinSystem32Path" AssignToProperty="no">
        <FileSearch Name="cmd.exe" Id="cmdFileSearch" />
      </DirectorySearch>
    </Property>

    <Property Id="INSTALLFOLDEREX" Value="(unset)">
      <!-- Used for RemoveFolderEx -->
      <RegistrySearch Id="INSTALLFOLDEREX" Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\[ProductCode]" Name="InstallLocation" Type="raw"/>
    </Property>

    <!-- Licenses and themes -->
    <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="dialog.bmp" />

    <!-- Add/remove icon -->
    <Icon Id="AddRemoveIcon" SourceFile="SquidIcon.ico"/>
    <Property Id="ARPPRODUCTICON" Value="AddRemoveIcon" />
    <!-- Should go after CostFinalize action due to folder properties ain't initialized until then -->
    <SetProperty Id="ARPINSTALLLOCATION" Value="[INSTALLFOLDER]" After="CostFinalize" Sequence="execute" />

    <!-- Prepare to start the tray application as custom action -->
    <Property Id="WixShellExecTarget" Value="[#tray6FAE4CBABF7D43429B28E0B5977FD050]" />
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />

    <!-- Installing certificates -->
    <CustomAction Id="RemoveSsldbDirectoryPrepare" Property="RemoveSsldbDirectory" Value="&quot;cmd.exe&quot; /c rmdir /S /Q &quot;[cache]squid_ssldb&quot;&quot;" Execute="immediate"/>
    <CustomAction Id="RemoveSsldbDirectory" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" Impersonate="no"/>

    <CustomAction Id="RunSslCrtdPrepare" Property="RunSslCrtd" Value="&quot;[squid_1]ssl_crtd.exe&quot; -c -s &quot;[cache]squid_ssldb&quot;" Execute="immediate"/>
    <CustomAction Id="RunSslCrtd" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="check" Impersonate="no"/>

    <CustomAction Id="ValidateInstallPath" BinaryKey="InstallerCA" DllEntry="ValidateInstallPath" Execute="firstSequence" Return="check"/>
    <CustomAction Id="ValidateSquidSettings" BinaryKey="InstallerCA" DllEntry="ValidateSquidSettings" Execute="firstSequence" Return="check"/>

    <CustomAction Id="ApplySquidSettingsPrepare" Property="ApplySquidSettings" Value="INSTALLFOLDER=[INSTALLFOLDER];SQUID_SETTINGS_VALID=[SQUID_SETTINGS_VALID];SQUID_ACCEPT_NETWORKS=[SQUID_ACCEPT_NETWORKS];SQUID_DNS_SERVERS=[SQUID_DNS_SERVERS]"/>
    <CustomAction Id="ApplySquidSettings" BinaryKey="InstallerCA" DllEntry="ApplySquidSettings" Execute="deferred" Return="check"/>

    <InstallExecuteSequence>
      <Custom Action="RemoveSsldbDirectoryPrepare" After="CostFinalize"/>
      <Custom Action="RunSslCrtdPrepare" After="CostFinalize"/>
      <Custom Action="RemoveSsldbDirectory" Before="RunSslCrtd"/>
      <Custom Action="ValidateInstallPath" After="InstallValidate">NOT Installed AND NOT REMOVE</Custom>
      <Custom Action="ValidateSquidSettings" After="InstallValidate">NOT Installed AND NOT REMOVE</Custom>
      <Custom Action="ApplySquidSettingsPrepare" Before="ApplySquidSettings">NOT Installed AND NOT REMOVE</Custom>
      <Custom Action="ApplySquidSettings" After="InstallFiles">NOT Installed AND NOT REMOVE</Custom>
      <Custom Action="RunSslCrtd" Before="InstallFinalize">NOT Installed AND NOT REMOVE</Custom>
    </InstallExecuteSequence>

    <UI>
      <UIRef Id="WixUI_InstallDir"/>
      <DialogRef Id="SquidSettingsDlg" />

      <!-- Start tray application -->
      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">
        NOT Installed
      </Publish>

      <Publish Dialog="InstallDirDlg" Control="Next" Event="DoAction" Value="ValidateInstallPath" Order="3">NOT WIXUI_DONTVALIDATEPATH</Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="SquidSettingsDlg" Order="4">WIXUI_DONTVALIDATEPATH OR WIXUI_INSTALLDIR_VALID="1"</Publish>
      <Publish Dialog="SquidSettingsDlg" Control="Back" Event="NewDialog" Value="InstallDirDlg">1</Publish>
      <Publish Dialog="SquidSettingsDlg" Control="Next" Event="DoAction" Value="ValidateSquidSettings" Order="1">1</Publish>
      <Publish Dialog="SquidSettingsDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="2">SQUID_SETTINGS_VALID="1"</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="SquidSettingsDlg" Order="1">NOT Installed</Publish>
    </UI>

    <util:CloseApplication Id="CloseTrayApp" Target="Diladele.Squid.Tray.exe" CloseMessage="yes" ElevatedCloseMessage="yes" TerminateProcess="0" RebootPrompt="no" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER"/>

    <PropertyRef Id="NETFRAMEWORK35" />
    <PropertyRef Id="NETFRAMEWORK40FULL" />
    <PropertyRef Id="NETFRAMEWORK45" />

    <Condition Message="The product requires administrator priviledge.">
      <![CDATA[Installed OR Privileged]]>
    </Condition>

    <Condition Message="The product requires at least Microsoft .NET 3.5 to be installed on the machine.">
      <![CDATA[Installed OR NETFRAMEWORK35 OR NETFRAMEWORK40FULL OR NETFRAMEWORK45]]>
    </Condition>

    <Condition Message="The product requires at least Windows Vista (x64) or Windows Server 2008 (x64).">
      <![CDATA[Installed OR VersionNT64 >= 600]]>
    </Condition>

    <Feature Id="SquidFeature" Title="Squid" Description="Installs Squid server." Level="1">
      <ComponentGroupRef Id="SquidFilesGroup" />
      <ComponentGroupRef Id="SquidRegistry" />
      <ComponentGroupRef Id="SquidService" />
      <ComponentGroupRef Id="SquidTray" />
      <ComponentGroupRef Id="SquidFirewall" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="INSTALLFOLDER" Name="Squid_ITarian"/>
      <Directory Id="DesktopFolder" Name="Desktop"/>
    </Directory>
  </Fragment>
</Wix>
